/* Ensures content is pushed down so it's not under the top bar */
body {
    padding-top: 70px;
    padding-left: 70px;
}

h1, p {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.heading {
    background-color: #363636;
    color: white;
    text-align: left;
    padding-left: 70px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
}

.footing {
    background-color: #363636;
    color: white;
    text-align: center;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
}

.icon {
    filter: invert(1);
    width: 40px;
    height: 40px;
}

.sidebar-icon {
    padding-top: 10px;
}

.sidebar {
    background-color: #363636;
    width: 70px;
    height: 100%;
    padding-top: 80px;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}